body{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    background-color: black;
    color: #fff;
}
form{
    padding: 30px;
    border-radius: 10px;
    background-color: #333;
}
.heading{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
    color: aqua;
}
#female{
    accent-color: rgb(255, 0, 170);
}
#HtML{
    accent-color: orangered;
}
#CSS{
    accent-color: rgb(0, 191, 255);
}
#JS{
    accent-color: yellow;
}
.btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
button{
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    align-items: center;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}
button:hover{
    background-color: orangered;
}
.agreement{
    margin-top: 20px;
    color: yellowgreen;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
